<phpunit colors="true" bootstrap="vendor/autoload.php">
  <testsuites>
    <testsuite name="Application Test Suit">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <var name="DB_DSN" value="mysql:dbname=report;host=db" />
    <var name="DB_USER" value="report" />
    <var name="DB_PASSWD" value="secret" />
    <var name="DB_DBNAME" value="report" />
  </php>
</phpunit>
